#carousel-container {
    display: flex;
    margin-bottom: 1em;

}

.carousel-image {
    width: 60vw;
    height: auto;
}

.img-visible {
    display: block;

}

.img-hidden {
    display: none;
    
}