:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;

  /* --font-color: #232142; 
  --bg-color: #ebedf2;  */
} 

[data-tab-content] {
    display: none;
    
}

.active[data-tab-content] {
    display: block;
    
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    
}

.tab {
  cursor: pointer;
  padding: 10px;
  
  
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  
  
}


.fa {
    width: 30px;
    height: 100px;
    
    
}

body.light-mode {
  background-color: var(--secondary-color);
  color: var(--primary-color);
   {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

body.dark-mode {
  background-color: var(--primary-color);
  color: var(--secondary-color);
   {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}
 .moon { 
    width: 30px;
    cursor: pointer;
    height: 30px
}

nav ul{
    flex: 1;
    text-align: center;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-theme{
  --font-color: #232142;
  --bg-color: #ebedf2;
} 

body { 
    line-height: 1.3;
    color: var(--font-color);
    background: var(--bg-color);
    align-self: center;
  
}
/* 
body.dark-theme {
  --font-color: #ffffff;
  --bg-color: #040223df;
} */


/* .hero{
    width: 80%;
    height: 450px;
    position: relative;
    margin-top: 100px auto;
    overflow: hidden;
}

.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn-box .fa{ 
    margin: auto;
    width: auto;
    height: 50px;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-box button:hover .fa{
    color: rgb(177, 153, 50);

}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position:absolute;
    transform: translateX(100%);
}

.content-left{
    flex-basis: 50%;
    font-size: 13px;
    padding: 30px 0;
}

.content-left p{
    font-size: 13px;
    padding: 30px 0;
}
.content-right{
    flex-basis: 50%;
    text-align: center;
}

.content-right img{
    width: 200px;
}

#content1{
    transform: translateX(0px);
}

#btn1{
    color: #ff7846
}


#content2 {
    transform: translateX(0px);
}
*/
#carousel-container {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.carousel-image {
    margin: auto;
    width: auto;
    height: 200px;
    align-self: center;
}

.img-visible {
    display: block;

}

.img-hidden {
    display: none;
    
}


h1 {
    text-align: center;
    background: grey;
}
/* p {
    
} */

.tab-content {
    text-align: center;
}




#control-container{
    /* align-self: right; */
    text-align: center;
}

.contact-section {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: grey; */
  color: white;
  text-align: center;
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);
   {
    color: var(--secondary-color);
}


/* footer {
  background-image:url(/images/dogecoin.jpeg);
} */
